* {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue;
  color: #1d1d1d;
}
body {
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 40px;
}
h1 {
  font-size: 4rem;
}
#login-buttons {
  float: right;
  margin-top: -30px;
}
li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 1.3rem;
  cursor: pointer;
}
.selected {
  background: #F7F7F7;
  font-weight: 600;
}
input {
  font-weight: 800;
  border: none;
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
  background: #1d1d1d;
  color: white;
  transition: .3s all ease;
}
input:focus {
  outline: none;
}
input:hover, input:focus {
  background: darken(#1d1d1d, 10%);
}
form {
  margin-top: 10px;
}
input[type="text"] {
  cursor: text;
  color: #1d1d1d;
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

input[type="text"]:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 600px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
}
